<a href="https://colab.research.google.com/github/rahulbhusari/pandas_exercises/blob/master/Pandas01_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

list =  [1,2,3,4]
list1 =  [1,2,3,4,'five',0.2]
list2 =  [1,2,3,4]
index1 =['one','two','three','four']
# Seriesfromlit = pd.Series(list)
Seriesfromlit = pd.Series(list, index = index1 )  ## one dimensional array its same like single column within data frame or tables we can also put our own index as well 
print(Seriesfromlit)

one      1
two      2
three    3
four     4
dtype: int64

In [20]:
## series from dict
dict = {1:"blake",2:"mayur", 3: "ganesh"}
seriesfromdict = pd.Series(dict)
print(seriesfromdict)
for num, item in enumerate(seriesfromdict): ## yes afcourse we can iterate through series 
    print( '{', num+1, ':', item, '}' )

1     blake
2     mayur
3    ganesh
dtype: object
{ 1 : blake }
{ 2 : mayur }
{ 3 : ganesh }

In [26]:
## series from numpy array 

a =  np.random.power([14,12,13,14])
a_series = pd.Series(a)
print(a_series)

0    0.879505
1    0.998537
2    0.960291
3    0.985827
dtype: float64